:root { 
	--black: #242424;
    --blue: #0800FF;
    --dark-black: #333;
    --gray: #AAA;
	--transparent: #00000000;
    --white: #FFF;
    --aesthetic-blue: #6FCEFF;
    --aesthetic-pink: #FF00FF;
}

/* SOME ANIMATIONS */
@keyframes FadeIn {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes FadeOut {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0%;
	}
}

html, body {
	margin: 0px;
	padding: 0px;
	min-width: clamp(10vw, 100vw, 100vw);
	height: 100%;
}

.yr-root {
	display: grid;
	justify-items: center;
	align-content: center;
	min-width: clamp(10vw, 100vw, 100vw);
	height: 100vh;
}

.yr-hanger {
	display: none;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin: 1em 1em 0em 1em;
	padding: 3em;
	min-width: 80vw;
	height: 5vh;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border-radius: 12px;
	box-shadow: 0px 4px 24px var(--gray);
	background-color: var(--blue);
}

.yr-hanger > #yr-hanger-text {
	min-width: 60vw;
	border: 0px;
	border-bottom: solid var(--gray) 2px;
	font-family: Poppins Semi Bold;
	font-size: clamp(12px, 24px, 24px);
	color: var(--white);
	background-color: var(--transparent);
	outline: none;
}

.yr-hanger > #yr-hanger-text:active {
	border-bottom: solid var(--white) 2px;
}

.yr-hanger > #yr-hanger-text:cursor {
	border-bottom: solid var(--white) 2px;
}

.yr-hanger > #yr-hanger-text:focus {
	border-bottom: solid var(--white) 2px;
}

.yr-hanger > #yr-hanger-text:hover {
	border-bottom: solid var(--white) 2px;
}


.yr-hanger > #yr-btn-color {
	margin: 0em 0em 0em 1em;
	border: 0px;
	width: 5.5vw;
	height: 10vh;
	border-radius: 200px;
	font-family: Poppins Regular;
	font-size: clamp(12px, 24px, 24px);
	color: var(--white);
	background-color: var(--transparent);
	outline: none
}

.yr-hanger > #yr-btn-color:active {
	background-color: var(--gray);
}

.yr-hanger > #yr-btn-color:cursor {
	background-color: var(--gray);
}

.yr-hanger > #yr-btn-color:focus {
	background-color: var(--gray);
}

.yr-hanger > #yr-btn-color:hover {
	background-color: var(--gray);
}

.yr-hanger > p {
	font-family: Poppins Semi Bold;
	font-size: clamp(24px, 24px 48px);
	color: var(--white);
}

.yr-header {
	display: grid;
	justify-items: center;
	align-content: center;
	min-width: 100vw;
	padding: 1em;
}

.yr-header > h1 {
	font-family: Poppins Extra Bold;
	font-size: clamp(24px, 48px, 48px);
	color: var(--black);
}

.yr-header > h3 {
	font-family: Poppins Semi Bold;
	font-size: clamp(24px, 24px, 48px);
}

.yr-body {
	display: grid;
	justify-items: center;
	align-content: center;
	min-width: 100vw;
}

.yr-body > .yr-input  {
	display: flex;
	justify-items: center;
	align-content: center;
	min-width: 40vw;
	margin: clamp(0.5em, 0.5em, 1em);
	padding: 0.5em 1em 0.5em 1em;
	border-bottom: solid var(--gray) 4px;
	background-color: var(--transparent);
}

.yr-body > .yr-input:active {
	border-bottom: solid var(--blue) 4px;
}

.yr-body > .yr-input:cursor {
	border-bottom: solid var(--blue) 4px;
}

yr-body > .yr-input:focus {
	border-bottom: solid var(--blue) 4px;
}

yr-body > .yr-input:hover {
	border-bottom: solid var(--blue) 4px;
}


.yr-body > .yr-input > #yr-text {
	min-width: 40vw;
	font-family: Poppins Regular;
	font-size: clamp(24px, 24px, 48px);
	background-color: var(--transparent);
	color: var(--gray);
	border: 0px;
	outline: none;
}

.yr-body > .yr-input > #yr-clear {
	font-family: Poppins Semi Bold;
	font-size: clamp(12px, 24px, 24px);
	background-color: var(--transparent);
	float: right;
	width: 48px;
	height: 48px;
	opacity: 0%;
	outline: none;
	border: 0px;
	border-radius: 200px;
}

.yr-body > .yr-input > #yr-clear:active {
	background-color: var(--gray);
}

.yr-body > .yr-input > #yr-clear:cursor {
	background-color: var(--gray);
}

.yr-body > .yr-input > #yr-clear:focus {
	background-color: var(--gray);
}

.yr-body > .yr-input > #yr-clear:hover {
	background-color: var(--gray);
}

.yr-body > #yr-submit {
	padding: 1em 2em 1em 2em;
	font-family: Poppins Bold;
	font-size: clamp(12px, 18px, 48px);
	color: var(--white);
	border: 0px;
	border-radius: 12px;
	background-color: var(--gray);
	outline: none;
}

.yr-body > #yr-submit:active {
	background-color: var(--blue);
}

.yr-body > #yr-submit:cursor {
	background-color: var(--blue);
}

.yr-body > #yr-submit:focus {
	background-color: var(--blue);
}

.yr-body > #yr-submit:hover {
	background-color: var(--blue);
}

.yr-body > p {
	font-family: Poppins Bold;
	font-size: clamp(24px, 36px, 48px);
	color: var(--black);
}

.yr-footer {
	display: flex;
	justify-content: center;
	align-content: center;
	min-width: 100vw;
}

.yr-footer::before {
	content: "";
	justify-self: center;
	align-self: center;
	background-color: var(--gray);
	min-width: clamp(30%, 30%, 50%);
	height: 1px;
}

.yr-footer::after{
	content: "";
	justify-self: center;
	align-self: center;
	background-color: var(--gray);
	min-width: clamp(30%, 30%, 50%);
	height: 1px;
}

.yr-footer > small {
	font-family: Poppins Thin;
	font-size: clamp(12px, 12px, 24px);
	color: var(--gray);
	margin: 0em 1em 0em 1em;
}